--Insert into MasterClientCoverage..ClientCWMException 
Select Distinct CategoryCodeID,153,RetMktID,StartDate,NULL,NULL,NULL,NULL 
from MasterClientCoverage..MAsterClientCWM 
Where CategoryCodeID=9482